.root {
  col-base-bg: #26579E;
  col-text-inverted: #B0D5FF;
}

.left-menu {
  -fx-background-color: col-base-bg;
  -fx-text-fill: col-text-inverted;
}

.left-menu .label, .left-menu .hyperlink {
  -fx-text-fill: col-text-inverted;
}